* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}
body {
  background-color: rgb(178, 234, 225);
}
.head {
  margin: 25px;
  color: white;
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  padding: 25px;
  background: blue;
  border: 2px solid seashell;
  box-shadow: 15px 5px 10px rgba(0, 0, 0, 0.136);
}
button {
  background-color: white;
  color: black;
  border-radius: 10px;
  border: none;
  margin-top: 25px;
  padding: 10px 25px;
  transition: 0.3s;
  cursor: pointer;
}
button:hover {
  color: white;
  background-color: darkblue;
}
.password {
  margin-top: 25px;
}
.password input {
  border-radius: 25px;
  border: 2px solid white;
  box-shadow: 5px 9px 5px rgba(0, 0, 0, 0.178);
  background: yellow;
}
.username input {
  box-shadow: 5px 9px 5px rgba(0, 0, 0, 0.178);
  border-radius: 25px;
  border: 2px solid white;
  background: yellow;
}
.error {
  margin: 25px;
  color: black;
  font-weight: bolder;
}
