*{
    margin: 0;
    padding: 0;
    font-family: Poppins;
}
body{
    background: rgb(28, 28, 28);
}
.backgrounds{
    opacity: 0.3;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-repeat: no-repeat;
    background-image: url(images/background.jpg);
    background-size: cover;
    z-index: -1;
}
.navbar{
    background-color: rgba(255, 25, 0, 0.704);
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 25px 25px;
}
.cijena{
    color: white;
    font-weight: bold;
}
.content{
    color: white;
    text-align: center;
    align-items: center;
    margin-top: 25px;
    margin-left: 25px;
}
.content p{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.pizza{
    color: rgb(206, 0, 0);
    font-family:monospace ;
    font-size: 75px;
    text-shadow:
            -1px -1px 0 white,
            1px -1px 0 white,
            -1px 1px 0 white,
            1px 1px 0 white;
}
.buy{
    color: antiquewhite;
    font-weight: bolder;
}

a{
    transition: .3s;
    color: white;
}
a:hover{
    color: brown;
}

ul li a{
    color: white;
    text-decoration: none;
    margin-left: 25px;
}
nav ul{
    display: flex;
    list-style-type: none;
}
.dugme{
    border-radius: 5px;
    margin-top: 25px;
    border: none;
    margin-right: 25px;
    font-weight: bold;
    padding: 10px 40px 10px 40px;
    background-color: rgb(206, 0, 0);
    color: white;
    transition: .3s;
    cursor: pointer;
}
.dugme:hover{
    color: black;
    background: antiquewhite;
}
.dugme1 {
    border-radius: 5px;
    border: white solid 2px;
    margin-top: 25px;
    font-weight: bold;
    padding: 10px 40px 10px 40px;
    background: none;
    color: white;
    transition: .3s;
    cursor: pointer;
}

.dugme1:hover {
    color: black;
    background: antiquewhite;
}
.logo{
    width: 50px;
    height: auto;
}
.number{
    font-size: 45px;
    margin-top: 25px;
    color: rgb(255, 0, 0);
    text-shadow: 2px 4px 4px black;
}
.grid-container {
    width: 100%;
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
}
.section-box img{
    width: 100%;
    height: auto;
    margin-top: 25px;
    border-radius: 25px;
}
.sections{
    text-align: center;
    margin-bottom: 25px;
    color: white;
}
.flavors{
    color: white;
    margin-top: 30px;
}
.flavor{
    color: white;
    margin-top: 350px;
    margin-left: 25px;
}
span{
    color: red;
}
.section-box{
    padding: 25px;
    height: 350px;
    align-items: flex-end;
    background-color: rgba(255, 25, 0, 0.252);
}
.about-us{
    color: white;
    margin-left: 25px;
}
.image-container{
    display: flex;
}
.about{
    margin-right: 55px;
    margin-left: 10px;
    border-radius: 25px;
    margin-bottom: 25px;
}
.tekst p{
    margin-bottom: 25px;
}
.tekst h1{
    margin-top: 15px;
}
.foot{
    padding-bottom: 25px;
    padding-top: 25px;
    text-align: center;
    color: white;
    background-color: black;
}